header {
    background: linear-gradient(#fc898e 60%, #ffbea8);
    margin: 0;
    padding-bottom: 50px;
}

body {
  font-family: verdana;
  text-align: center;
  margin: 0;
  padding: 0;
}

#aboutme {
  background: #ffbea8;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

nav {
  text-align: center;
  margin: 0;
}

nav li {
  display: inline-block;
}

h2 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  padding: 20px;
}

p {
  text-align: center;
  max-width: 900px;
  margin: auto;
  padding-bottom: 20px;
}

#skills {
  background-color: #e6c8ac;
  text-align: center;
}

#skills li {
    list-style-type: none;
}

#experience {
  background-color: #d98255;
}

#experience p {
  text-align: center;
}

#portfolio {
  background-color: #3a231b;
}

#contactme {
  background-color: #fc898e;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-transform: lowercase;
}
